.tausta {
  margin: 30px;
}

div {
  margin-bottom: 20px;
}

input {
  display:inline-block;
  padding: 3px;
  width: 300px;
}

output {
  display:inline-block;
  padding: 3px;
  width: 300px;
}

button {
  font-size: large;
  padding: 5px;
  background-color: rgb(50, 130, 255);
  color: white;
}

input[type="number"] {
  -moz-appearance:textfield;
}
